<div class = "container">
  <h1><%= @user.try(:name) %>のアカウントページ</h1>
  <P>メールアドレス:<%= @user.try(:email) %></p>
  <%= image_tag @user.icon %></p>
    <br>
    <h2>お気に入り</h2>
    <% @favorite_blogs.each do |favorite_blog| %>
    <p><%=  favorite_blog.user.name %></p>
      <ul class = 'row'>
        <li class = "col-sm-6 col-md-6">タイトル:<%= favorite_blog.title %></li>
        <li class = "col-sm-6 col-md-6">内容:<%= favorite_blog.content %></li>
      </ul>
    <% end %>
</div>
